snippet comp "Function component"
import React from "React";

const ${1:ComponentName} = (props) => {
	return (
		<>
			{props}
		</>
	)
}

export default ${1:ComponentName};
endsnippet

snippet console.dir "console.dir debug"
console.dir(${1:object}, { depth: null });
endsnippet
