snippet #!shabang "#!/usr/bin/env <exec>"
#!/usr/bin/env ${1:exec}
endsnippet

snippet help "help template"
# My script description
#
# Usage:
#   my-script <input> <output>
#
# Options:
#   <input>   Input file to read.
#   <output>  Output file to write. Use '-' for stdout.
#   -h        Show this message.
#
# Sources: (optional)
# - https://
#
endsnippet
