
snippet #include "#include <iostream>"
#include <iostream>
endsnippet

snippet cout "std::cout text std::endl;"
std::cout << "${1:text}" << std::endl;$0
endsnippet

snippet for "for (init; condition; increment)"
for (int i = 0; i < 10; i++) {
	${0}
}
endsnippet

snippet do "do...while"
int i = 1;
do {
	${1:std::cout << i << std::endl;}
	i++;
} while (i <= 10);
endsnippet






