snippet #! "#!/usr/bin/env python"
#!/usr/bin/env python
endsnippet

snippet assert "assert isinstance(x, type)"
assert isinstance(${1:x}, ${1:type})
endsnippet

snippet main "main boilerplate"
def main():
	pass
	${0}

if __name__ == "__main__":
	main()
endsnippet
