snippet main
package main

import "fmt"

func main() {
	fmt.Println("Hello")
}
endsnippet

snippet fm
fmt.Printf("Type: %T Value: %v\n", ${1}, ${1})
endsnippet

snippet st "struct type"
	struct ${1:name} type {

	}
endsnippet

snippet forr "for range loop"
	for i, v := range vals {

	}
endsnippet

snippet iferr "if error not nil, return err"
	if err != nil {
		return err
	}
endsnippet
