# RStudio snippets https://support.rstudio.com/hc/en-us/articles/204463668-Code-Snippets

snippet r
	```{r ${1:label}, options = NULL}
	${0}
	```

snippet rcpp
	```{r, engine='Rcpp'}
	#include <Rcpp.h>
	using namespace Rcpp;
	${0}
	```

snippet bash
	```{bash}
	${0}
	```
